@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer class="container-fluid">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link">@ViewData["label_privicy_policies"]</a></li>
    </ul>
</footer>
