
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model TablonAnuncios.DataModels.profileDataModel
@{

}
<div class="title">
    <h2>@localizer["label_profile"]</h2>
</div>
<div class="container" id="profile-info">

</div>